<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @server.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @server.direccion %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
